@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgb(10, 12, 12);
  --c2: rgba(234, 127, 212, 0.316);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgb(232, 230, 230);
  text-align: center;
  color: var(--c1);
  font-family: "Montserrat", sans-serif;
}
.container {
  padding: 30px;
  width: 400px;
  margin: 10px;
  border: 0.5rem solid;
  border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      var(--c1),
      var(--c1) 10%,
      var(--c2) 40%
    )
    30;
  animation: borderRadial var(--d) linear infinite forwards;
  border-radius: 1rem;
}
.textarea {
    resize: none;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    outline-style: none;
    height: 20vh;
    margin-top: 20px;
    padding: 10px 0px 0px 10px; 
    background-color: transparent;
    color:black;
    font-size: 1rem;
    font-size: x-large;
    font-weight: 100;
    border: 2px dashed rgba(0, 0, 0, 0.188);
    line-height: 1.5rem;
    border-radius: 1rem;
} 
.counter-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px; 
}
@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}
@keyframes borderRadial {
  0% {
    --gradX: 50%;
    --gradY: 0%;
  }
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 0%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 0%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}